@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {

}

header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
    border-radius: 40px;
    transition: -0.7s ease-in-out;
    padding: 10px 25px;
    background-color: #af4c96;
}
ul .nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li .nav{
  float: left;
}

li a .nav{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover.nav{
  background-color: #111;
}

.nav {
  background-color: #af4c96;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bloco_fotos{
    padding: 116px;
    margin-left: 35px;
}

.botao1{
  display: inline-block;
  padding: 10px 20px; /* Ajuste o tamanho do botão conforme necessário */
  background-color: #94095e; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  text-decoration: none; /* Remove sublinhado padrão dos links */
  border: none; /* Remove a borda do botão */
  border-radius: 30px; /* Borda arredondada */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
  margin-left: 30px;
}

.botao1:hover {
  background-color: #222; /* Cor de fundo ao passar o mouse sobre o botão */
}

.botao2{
    display: inline-block;
    padding: 10px 20px; /* Ajuste o tamanho do botão conforme necessário */
    background-color: #94095e; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    border: none; /* Remove a borda do botão */
    border-radius: 30px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
    margin-left: 30px;
  }

  .botao2:hover {
    background-color: #222; /* Cor de fundo ao passar o mouse sobre o botão */
  }

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #94095e;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
    margin-left: 0px;
}
header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 3.5em;
    color: #94095e;
}
.content .text p{
    color: #fff;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background:#94095e;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
    margin-left: 10px;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
    margin-bottom: -43px;
}
.icons li a:hover{
    background:#94095e;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom: -40px;
}
.boxImg img{
    width: 200px;
}
.boxImg .img1{
    transform: rotate(-15deg)
}
.boxImg .img2{
    transform: rotate(5deg)
}
.boxImg .img3{
    transform: rotate(15deg)
}
.boxImg .img4{
    transform: rotate(-15deg)
}
.row{
    background: #121212;
}

.titulo1 {
    font-size: 30px;
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
    font-family: Playfair Display SC;
    margin-top: 180px;

}
.produto_nome{
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
    font-family: Playfair Display SC;
    text-align: center;
}

/* Estilos globais */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
}

/* Estilos do rodapé */
footer {
    background-color: #000; /* Roxo escuro */
    color: #fff; /* Branco para o texto no rodapé */
    text-align: center;
    padding: 20px 0;
}
.espaco{
    background-color: #000; /* Roxo escuro */
    color: #fff; /* Branco para o texto no rodapé */
    text-align: center;
    padding: 200px ;
}
.espaco1{
    background-color: #000; /* Roxo escuro */
    color: #fff; /* Branco para o texto no rodapé */
    text-align: center;
    padding: 200px ;
}
.espaco2{
    background-color: #000; /* Roxo escuro */
    color: #fff; /* Branco para o texto no rodapé */
    text-align: center;
    padding: 200px ;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right {
    flex: 1;
    padding: 20px;
}
.footer-left h3, .footer-right h3 {
    color: #fff;
    font-size: 1.2em;
}
.footer-left p, .footer-right ul {
    margin: 0;
    color: #fff;
}
.footer-left p {
    font-size: 0.9em;
}
.footer-right ul {
    list-style: none;
    padding: 0;
}
.footer-right ul li {
    margin: 5px 0;
}
.footer-right ul li a {
    text-decoration: none;
    color: #fff;
}
/* Estilos do rodapé inferior */
.copyright {
    background-color: #000; /* Preto */
    padding: 10px 0;
}
.copyright p {
    margin: 0;
    color: #fff;
    font-size: 0.8em;
}
/* Estilos globais */
.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
}

/* Estilos do container de produtos */
.product-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}
/* Estilos dos cards de produtos */
.product-card {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    background-color: #f9f9f9;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.product-card img {
    max-width: 100%;
    height: auto;
}
/* Estilos de rolagem */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container-fluid{
    background-color: #121212;
    margin-top: 200px;
}

.fotos1{
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

.titulo3{
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
    font-family: Playfair Display SC;
    text-align: center;
}
.container {
    padding: 80px 120px;
  }
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
.person:hover {
    border-color: #f1f1f1;
  }
.text-center{
    color: white;

}
.collapse{
    color: white;
}
.mini{
    text-align: center;

}
.col-sm-4{
    color: #000;
    width: 23.333333%;
}
.img-circle person{
    color: white;
    width: 35px;
}
.container-fluid {
    background-color: #121212;
    margin-top: -71px;
}