
        body {
            font-family: 'Helvetica', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(120deg, #000, #94095e); /* Gradiente de preto para roxo */
            color: #fff;
        }

        body {
            background-image: url('../img/background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }


        body {
            position: relative;
        }


        .container {
            background: linear-gradient(135deg, #94095e, #000);
            border-radius: 12px;
            padding: 30px;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            width: 340px;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .container:hover {
            transform: scale(1.02); 
            box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.3);
        }

        .error {
            color: #a94442;
            font-weight: bold;
            margin-bottom: 15px;
            padding: 10px;
            margin-bottom: 25px;
            border: 5px solid #94095e;
            border-radius: 13px;
            background-color: #f2dede;
        }

        

        .input-field {
            margin-bottom: 20px;
            text-align: left;
        }

        .input-field label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold; /* Etiquetas em negrito */
        }

        .input-field input {
            width: 90%;
            padding: 10px 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background: #eee; /* Cor de fundo mais clara para os campos de entrada */
            color: #333; /* Cor de texto mais escura */
            transition: background 0.3s, transform 0.3s;
        }

        .input-field input:focus {
            background: #fff;
            transform: scale(1.02); /* Efeito zoom no foco */
        }

        .icon-input {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .icon-input i {
            position: absolute;
            left: 10px;  /* Posição do ícone dentro do campo de entrada */
            top: 50%;
            transform: translateY(-50%);
            color: #666;  /* Cor do ícone */
        }

        .icon-input input {
            padding-left: 30px;  /* Espaço à esquerda para o ícone */
        }


        .rounded-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 25px; /* Arredondamento mais pronunciado */
            padding: 10px 25px;
            cursor: pointer;
            transition: background 0.3s, transform 0.3s;
        }

        .rounded-button:hover {
            background-color: #0056b3;
            transform: scale(1.05); /* Efeito de zoom no botão ao passar o mouse */
        }

        .logout-link {
            margin-top: 15px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            font-size: 16px;
            transition: color 0.3s;
        }

        .logout-link:hover {
            text-decoration: underline;
            color: #0056b3;
        }